In [3]:
import pandas as pd
import numpy as np

In [4]:
df= pd.read_csv('car_price.csv')
df

   Car Model  Mileage  Sell Price  Age
0     BMW X5    69000       18000    6
1     BMW X5    35000       34000    3
2     BMW X5    57000       26100    5
3     BMW X5    22500       40000    2
4     BMW X5    46000       31500    4
5    AUDI AS    59000       29400    5
6    AUDI AS    52000       32000    5
7    AUDI AS    72000       19300    6
8    AUDI AS    91000       12000    8
9   MERCEDEZ    67000       22000    6
10  MERCEDEZ    83000       20000    7
11  MERCEDEZ    79000       21000    7
12  MERCEDEZ    59000       33000    5

In [5]:
df.rename(columns={'Car Model': 'Car_Model'}, inplace=True)
df

   Car_Model  Mileage  Sell Price  Age
0     BMW X5    69000       18000    6
1     BMW X5    35000       34000    3
2     BMW X5    57000       26100    5
3     BMW X5    22500       40000    2
4     BMW X5    46000       31500    4
5    AUDI AS    59000       29400    5
6    AUDI AS    52000       32000    5
7    AUDI AS    72000       19300    6
8    AUDI AS    91000       12000    8
9   MERCEDEZ    67000       22000    6
10  MERCEDEZ    83000       20000    7
11  MERCEDEZ    79000       21000    7
12  MERCEDEZ    59000       33000    5

In [6]:
dummies= pd.get_dummies(df.Car_Model,dtype=int)
dummies

    AUDI AS  BMW X5  MERCEDEZ
0         0       1         0
1         0       1         0
2         0       1         0
3         0       1         0
4         0       1         0
5         1       0         0
6         1       0         0
7         1       0         0
8         1       0         0
9         0       0         1
10        0       0         1
11        0       0         1
12        0       0         1

In [7]:
merged=pd.concat([df,dummies],axis='columns')
merged

   Car_Model  Mileage  Sell Price  Age  AUDI AS  BMW X5  MERCEDEZ
0     BMW X5    69000       18000    6        0       1         0
1     BMW X5    35000       34000    3        0       1         0
2     BMW X5    57000       26100    5        0       1         0
3     BMW X5    22500       40000    2        0       1         0
4     BMW X5    46000       31500    4        0       1         0
5    AUDI AS    59000       29400    5        1       0         0
6    AUDI AS    52000       32000    5        1       0         0
7    AUDI AS    72000       19300    6        1       0         0
8    AUDI AS    91000       12000    8        1       0         0
9   MERCEDEZ    67000       22000    6        0       0         1
10  MERCEDEZ    83000       20000    7        0       0         1
11  MERCEDEZ    79000       21000    7        0       0         1
12  MERCEDEZ    59000       33000    5        0       0         1

In [8]:
final= merged.drop(['Car_Model','AUDI AS','Age'],axis='columns')
final

    Mileage  Sell Price  BMW X5  MERCEDEZ
0     69000       18000       1         0
1     35000       34000       1         0
2     57000       26100       1         0
3     22500       40000       1         0
4     46000       31500       1         0
5     59000       29400       0         0
6     52000       32000       0         0
7     72000       19300       0         0
8     91000       12000       0         0
9     67000       22000       0         1
10    83000       20000       0         1
11    79000       21000       0         1
12    59000       33000       0         1

In [9]:
from sklearn import linear_model
model= linear_model.LinearRegression()

In [10]:
X= final.drop(['Sell Price'],axis='columns')
X

    Mileage  BMW X5  MERCEDEZ
0     69000       1         0
1     35000       1         0
2     57000       1         0
3     22500       1         0
4     46000       1         0
5     59000       0         0
6     52000       0         0
7     72000       0         0
8     91000       0         0
9     67000       0         1
10    83000       0         1
11    79000       0         1
12    59000       0         1

In [11]:
Y=df['Sell Price']
Y

0     18000
1     34000
2     26100
3     40000
4     31500
5     29400
6     32000
7     19300
8     12000
9     22000
10    20000
11    21000
12    33000
Name: Sell Price, dtype: int64

In [12]:
model.fit(X,Y)

LinearRegression()

In [13]:
model.predict([[60000,0,1]])

c:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([29792.49279651])

In [14]:
model.score(X,Y)

0.9407475372588112

In [15]:
df

   Car_Model  Mileage  Sell Price  Age
0     BMW X5    69000       18000    6
1     BMW X5    35000       34000    3
2     BMW X5    57000       26100    5
3     BMW X5    22500       40000    2
4     BMW X5    46000       31500    4
5    AUDI AS    59000       29400    5
6    AUDI AS    52000       32000    5
7    AUDI AS    72000       19300    6
8    AUDI AS    91000       12000    8
9   MERCEDEZ    67000       22000    6
10  MERCEDEZ    83000       20000    7
11  MERCEDEZ    79000       21000    7
12  MERCEDEZ    59000       33000    5

In [16]:
df['Car_Model_Code'] = df['Car_Model'].map({'BMW X5': 0, 'AUDI AS': 1, 'MERCEDEZ': 2})
X = df[['Mileage', 'Age', 'Car_Model_Code']]

In [17]:
model.predict([[45000, 4, 2]])

c:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([22890.80679075])